

&i2c0 {
	status = "disabled";
};

&i2c1 {
	status = "disabled";
};

&spi0 {
	status = "disabled";
};

&spi1 {
	status = "okay";
	cs-gpios = <&gpio0 22 0>;
	sck-pin = <25>;
	mosi-pin = <23>;
	miso-pin = <24>;
};

&spi2 {
	status = "disabled";
};

